@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.damonContainer {
  @apply px-3 mx-auto max-w-[400px] md:max-w-[700px] xl:max-w-[1000px];
}

/* Hide scrollbar in WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

a.active {
  color: #4865e2 !important;
  border-bottom: 2px solid #4865e2;
  padding-bottom: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
